{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'map.title_index'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">

            {{ form_start(form, { method: 'POST', action: path('map_create') }) }}
            {#  instead of displaying form fields one by one, you can also display them
                all with their default options and styles just by calling to this function:
                {{ form_widget(form) }}
            #}

            <fieldset>
                <legend>{{ 'map.sub_title_create'|trans }}</legend>

                {{ form_widget(form) }}

                <div class="form-group">
                    <a href="{{ path('map_index') }}"
                       class="btn btn-default pull-right" type="submit">{{ 'action.back_to_list'|trans }}</a>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary pull-right" type="submit">{{ 'map.form.submit_create'|trans }}</button>
                </div>
            </fieldset>
            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}
