{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'map.title_index'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'map.table.id'|trans }}</th>
                    <th>{{ 'map.table.name'|trans }}</th>
                    <th>{{ 'map.table.height'|trans }}</th>
                    <th>{{ 'map.table.width'|trans }}</th>
                    <th>{{ 'map.table.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for map in maps %}
                    <tr>
                        <th scope="row">{{ map.id }}</th>
                        <td>{{ map.name }}</td>
                        <td>{{ map.height }}</td>
                        <td>{{ map.width }}</td>
                        <td>
                            <a href="{{ path('map_edit', {id : map.id} ) }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>
                        <a href="{{ path('map_create') }}"
                           class="btn btn-primary pull-right" type="submit">+ New map</a>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>
{% endblock %}
