{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'game.main.title_homepage'|trans }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron col-md-10 col-md-offset-1">
                <p class="text-center">
                    {{ 'game.main.play_cta'|trans }}
                </p>

                <p class="text-center">
                    <a class="btn btn-danger btn-lg"
                       href="{{ isUserInBattle ? path('game_battle') : path('game_main_choose_hero') }}">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                        {{ 'game.main.button_play'|trans }}
                    </a>
                </p>

            </div>
        </div>
        <div class="col-sm-6">
            <h3>{{ 'game.main.last_news'|trans }}</h3>
            <ul>
                <li><img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTA5MTc1OGQyOCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MDkxNzU4ZDI4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 140px; height: 140px;"></li>
                <li>bla bla bla</li>
            </ul>
            <h3>{{ 'game.main.events'|trans }}</h3>
            <ul>
                <li>bla bla bla</li>
                <li>bla bla bla</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>{{ 'game.main.shop'|trans }}</h3>
            <ul>
                <li>bla bla bla</li>
                <li>bla bla bla</li>
                <li>bla bla bla</li>
                <li>bla bla bla</li>
            </ul>
        </div>
    </div>
{% endblock %}
